/* MotorManagementPanel.css */
.status-mini-card {
    border-radius: 12px;
    text-align: center;
    transition: all 0.3s;
    border-left: 5px solid #d9d9d9;
}

.status-mini-card.safe {
    border-left-color: #52c41a;
    background: #f6ffed;
}

.status-mini-card.danger {
    border-left-color: #ff4d4f;
    background: #fff1f0;
}

.motor-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* 讓表格在小螢幕也能滑動 */
.custom-antd-table {
    overflow-x: auto;
}

.main-glass-card{
  height: 100%;
}